
.us-title-footer {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #323b46;
    margin-bottom: 20px;
}

.footer-md:before {
    background: none; 
}

.reset-password {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #808080;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}