<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" class="us-back-arrow" (click)="back()">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="logo-ctn">
      <img class="logo" width="100" src="assets/imgs/logoCont.svg">
  </div>
  <h1 class="us-title">Registrati</h1>
  <p class="us-title-info">Scegli una mail e una password e compila i dati per creare al tuo account</p>
  <form [formGroup]="user" (ngSubmit)="createUser()">
    <ion-list>
      <ion-item class="us-ionitem">
        <ion-input required type="text" formControlName="name" placeholder="Nome"></ion-input>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.name.pristine && !user.controls.name.valid">
        <p class="form-error" item-right *ngIf="!user.controls.name.pristine && user.controls.name.hasError('required')">
          Campo obbligatorio.
        </p>
      </ion-item>

      <ion-item class="us-ionitem"> 
        <ion-input  requiredtype="text" formControlName="surname" placeholder="Cognome"></ion-input>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.surname.pristine && !user.controls.surname.valid">
        <p class="form-error" item-right *ngIf="!user.controls.surname.pristine && user.controls.surname.hasError('required')">
          Campo obbligatorio.
        </p>
      </ion-item>

      <ion-item class="us-ionitem">
        <select required placeholder="Sesso" formControlName="sex" mbsc-select [mbsc-options]="nonFormSettings" [mbsc-data]="items"></select>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.sex.pristine && !user.controls.sex.valid">
        <p class="form-error" item-right *ngIf="!user.controls.sex.pristine && user.controls.sex.hasError('required')">
          Campo obbligatorio.
        </p>
      </ion-item>

      <ion-item class="us-ionitem">
          <mbsc-date formControlName="birthday"  [options]="nonFormSettingsDate" placeholder="Data di nascita"></mbsc-date>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.birthday.pristine && !user.controls.birthday.valid">
        <p class="form-error" item-right *ngIf="!user.controls.birthday.pristine && user.controls.birthday.hasError('required')">
          Campo obbligatorio.
        </p>
      </ion-item>

      <ion-item class="us-ionitem">
          <select  #university="mobiscroll" required placeholder="Università" formControlName="university" mbsc-select [mbsc-options]="nonFormSettingsUniversity"></select>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.university.pristine && !user.controls.university.valid">
        <p class="form-error" item-right *ngIf="!user.controls.university.pristine && user.controls.university.hasError('required')">
          Campo obbligatorio.
        </p>
      </ion-item>


      <ion-item class="us-ionitem">
        <select required placeholder="Facoltà" formControlName="faculty" mbsc-select [mbsc-options]="nonFormSettingsFaculty"></select>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.faculty.pristine && !user.controls.faculty.valid">
        <p class="form-error" item-right *ngIf="!user.controls.faculty.pristine && user.controls.faculty.hasError('required')">
          Campo obbligatorio.
        </p>
      </ion-item>




      <ion-item class="us-ionitem">
        <ion-input required #email type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.email.pristine && !user.controls.email.valid">
        <p class="form-error" item-right *ngIf="!user.controls.email.pristine && user.controls.email.hasError('required')">
          Campo obbligatorio.
        </p>
        <p class="form-error" item-right *ngIf="!user.controls.email.pristine && !user.controls.email.valid">
          Email non valida.
        </p>
      </ion-item> 

      <ion-item class="us-ionitem">
        <ion-input required #password type="password" formControlName="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.password.pristine && !user.controls.password.valid">
        <p class="form-error" item-right *ngIf="!user.controls.password.pristine && user.controls.password.hasError('required')">
          Campo obbligatorio.
        </p>
        <p class="form-error" item-right *ngIf="!user.controls.password.pristine && user.controls.password?.errors?.minlength">
          La password deve essere almeno di 6 caratteri
        </p>
      </ion-item>

      <ion-item class="us-ionitem">
        <ion-input required type="password" formControlName="passwordConfirmation" placeholder="Conferma password"></ion-input>
      </ion-item>
      <ion-item class="form-error-list us-ionitem-error" *ngIf="!user.controls.passwordConfirmation.pristine && !user.controls.passwordConfirmation.valid">
        <p class="form-error" item-right *ngIf="!user.controls.passwordConfirmation.pristine && user.controls.passwordConfirmation.hasError('required')">
          Campo obbligatorio.
        </p>
        <p class="form-error" item-right *ngIf="!user.controls.passwordConfirmation.pristine && user.controls.passwordConfirmation?.errors?.minlength">
          La password deve essere almeno di 6 caratteri
        </p>
      </ion-item>
    </ion-list>
    <ion-button class="us-button" expand="full" type="submit" [disabled]="!user.valid">Registrati</ion-button>
  </form>
</ion-content>
