// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Mobiscroll

input::placeholder {
    color: #dedede;
}

.mbsc-mobiscroll .mbsc-input,
.mbsc-material .mbsc-input,
.mbsc-ios .mbsc-input {
    margin: 0!important;
}

.mbsc-sel .mbsc-ltr .mbsc-sel-filter-cont .mbsc-sel-filter-input{
    padding: 15px!important;
    height: 50px;
}

.mbsc-mobiscroll .mbsc-input input, .mbsc-mobiscroll .mbsc-input textarea,
.mbsc-material .mbsc-input input, .mbsc-material .mbsc-input textarea,
.mbsc-ios .mbsc-input input, .mbsc-material .mbsc-input textarea {
    width: 100%!important;
    border: 0!important;
}
.mbsc-calendar {
    .mbsc-fr-w,
    .mbsc-material .mbsc-fr-w,
    .mbsc-ios .mbsc-fr-w {
            box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.25);
            background: linear-gradient(to top, #323b46, #323b46)!important;
        }
}





.mbsc-mobiscroll .mbsc-fr-w,
.mbsc-material .mbsc-fr-w {
    padding-top: 20px;
    padding-bottom: 5px;
}

.mbsc-mobiscroll .mbsc-cal-days>div,
.mbsc-material .mbsc-cal-days>div, 
.mbsc-ios .mbsc-cal-days>div {
    border: none!important;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff!important;
}

.mbsc-mobiscroll .mbsc-cal-day-date,
.mbsc-material .mbsc-cal-day-date, 
.mbsc-ios .mbsc-cal-day-date {
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6c7b8a;
}

.mbsc-mobiscroll .mbsc-cal-c .mbsc-cal .mbsc-cal-body .mbsc-cal-row .mbsc-selected .mbsc-cal-cell-txt,
.mbsc-material .mbsc-cal-c .mbsc-cal .mbsc-cal-body .mbsc-cal-row .mbsc-selected .mbsc-cal-cell-txt,
.mbsc-ios .mbsc-cal-c .mbsc-cal .mbsc-cal-body .mbsc-cal-row .mbsc-selected .mbsc-cal-cell-txt {
    background: #e87975!important;
    color: #fff!important;
}

.mbsc-cal-btn-w,
.mbsc-material .mbsc-cal-btn-w,
.mbsc-ios .mbsc-cal-btn-w {
    display: none!important;
}

.mbsc-cal-scroll-c,
.mbsc-material .mbsc-cal-scroll-c,
.mbsc-ios .mbsc-cal-scroll-c {
    margin-top: 5px;
}

.mbsc-mobiscroll.mbsc-no-touch:not(.mbsc-ev-cal) .mbsc-cal-cell:not(.mbsc-disabled):hover .mbsc-cal-cell-txt, 
.mbsc-mobiscroll.mbsc-no-touch .mbsc-cal-day:not(.mbsc-disabled) .mbsc-cal-day-date:hover, 
.mbsc-mobiscroll .mbsc-cal-cell:focus .mbsc-cal-cell-txt,

.mbsc-material.mbsc-no-touch:not(.mbsc-ev-cal) .mbsc-cal-cell:not(.mbsc-disabled):hover .mbsc-cal-cell-txt, 
.mbsc-material.mbsc-no-touch .mbsc-cal-day:not(.mbsc-disabled) .mbsc-cal-day-date:hover, 
.mbsc-material .mbsc-cal-cell:focus .mbsc-cal-cell-txt,

.mbsc-ios.mbsc-no-touch:not(.mbsc-ev-cal) .mbsc-cal-cell:not(.mbsc-disabled):hover .mbsc-cal-cell-txt, 
.mbsc-ios.mbsc-no-touch .mbsc-cal-day:not(.mbsc-disabled) .mbsc-cal-day-date:hover, 
.mbsc-ios .mbsc-cal-cell:focus .mbsc-cal-cell-txt {
    background: rgba(232,121,117,0.3)!important;
}
input:focus {outline:none;}
select:focus {outline:none;}

.mbsc-fr-hb.mbsc-ios.mbsc-fr-inline .mbsc-fr-w, .mbsc-fr-hb.mbsc-ios.mbsc-fr-inline .mbsc-fr-c, .mbsc-fr-hb.mbsc-ios .mbsc-fr-hdr, .mbsc-fr-hb.mbsc-ios .mbsc-fr-btn-cont, .mbsc-fr-hb.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-w, .mbsc-fr-hb.mbsc-ios.mbsc-fr-bottom .mbsc-fr-popup, .mbsc-fr-hb.mbsc-ios.mbsc-cal-liq.mbsc-fr-center .mbsc-fr-btn-cont, .mbsc-fr-hb.mbsc-ios.mbsc-calendar .mbsc-fr-popup .mbsc-fr-btn-cont, .mbsc-fr-hb.mbsc-ios .mbsc-cal-day, .mbsc-fr-hb.mbsc-ios .mbsc-cal-sc-m-cell, .mbsc-cal-event-list .mbsc-cal-event:before, .mbsc-cal-event-list .mbsc-cal-event:after, .mbsc-fr-hb.mbsc-ios .mbsc-range-btn-end, .mbsc-fr-hb.mbsc-ios .mbsc-range-btn-end .mbsc-range-btn:before, .mbsc-fr-hb.mbsc-ios .mbsc-np-btn, .mbsc-fr-hb.mbsc-ios.mbsc-ms-more .mbsc-ms-item:after, .mbsc-lv-hb.mbsc-lv-ios .mbsc-lv-item:before, .mbsc-lv-hb.mbsc-lv-ios .mbsc-lv-item:after, .mbsc-lv-hb.mbsc-lv-ios .mbsc-lv-gr-title, .mbsc-lv-hb.mbsc-lv-ios, .mbsc-form-hb.mbsc-ios .mbsc-control-w:before, .mbsc-form-hb.mbsc-ios .mbsc-control-w:after, .mbsc-form-hb.mbsc-ios .mbsc-form-group-inset .mbsc-control-ng .mbsc-control-w:before, .mbsc-form-hb.mbsc-ios .mbsc-form-group-inset .mbsc-control-ng .mbsc-control-w:after, .mbsc-form-hb.mbsc-ios .mbsc-divider, .mbsc-form-hb.mbsc-ios .mbsc-btn-group {
    border: 0!important;
}

.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-w {
    padding: 20px!important;
}

.mbsc-ios .mbsc-cal-c .mbsc-cal .mbsc-cal-body .mbsc-cal-row .mbsc-selected .mbsc-cal-cell-txt {
    border-color: transparent!important;
}


ion-input{
    --placeholder-color: #dedede;
    --placeholder-opacity: 1;
}

.demo-non-form {
    color: initial;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}

// Button 

.us-button {
    --background: transparent;
    --box-shadow: none;
    --padding-top: 20px;
    --padding-bottom: 20px;
    height: auto;
    border-radius: 4px;
    background-image: linear-gradient(258deg, #f3c7a1, #e87975);
}

// ion Item

.us-ionitem {
    --border-width: 1px;
    margin-bottom: 10px;
    --inner-border-width: 0;
}

.us-ionitem-error {
    --border-width: 0;
    --inner-border-width: 0;
    margin-bottom: 10px;
    color: #e87975;
}

// Title

.us-title {
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323b46;
    margin-top: 30px;
}

.us-title-info {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #808080;
    text-align: left;
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
}

.ios .us-title-info {
    margin-bottom: 15px;
}

// Back Arrow

.us-back-arrow {
    margin-left: 15px;
    font-size: 24px;
}

.header-md:after {
    background-image: none;
}

// Logo login registrazione

.md .logo-ctn {
    text-align: center;
    margin: 20px 0;
}

.ios .logo-ctn {
    text-align: center;
    margin: 40px 0 20px 0;
}

//toolbar

ion-toolbar {
    --background: linear-gradient(to left, #f3c7a1, #e87975);
    --color: #fff;
}

ion-menu-button {
    --color: #fff;
}