<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let exam of exams; let i = index">
    <h2 (click)="goToPlans(exam.id)">Esame {{ exam.exam }}</h2>
    <p>Crediti: {{ exam.credits }}</p>
    <p>Prof: {{ exam.professor }}</p>
    <p>ID: {{ exam.id }}</p>
    <p (click)="deleteAlert(exam.id)">ELIMINA</p>
  </div>
</ion-content>

<div (click)="addExam()">Aggiungu</div>