<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="us-back-arrow" (click)="back()">
      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
    </ion-buttons>
    <ion-title>plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div (click)="createPlan()">Crea Piano {{ examId }}</div>
  <div *ngFor="let plan of plans; let i = index">
    <h2>Appeal date {{ plan.appeal }}</h2>
    <p>ID: {{ plan.id }}</p>
    <p (click)="deleteAlert(plan.id)">ELIMINA</p>
    <p (click)="initPlan(plan.id, examId)">INIZIA</p>
  </div>
</ion-content>
